<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.FormalStudentMapper">
    <resultMap id="BaseResultMap" type="com._520it.crm.domain.FormalStudent">
        <id column="id" property="id"/>
        <result column="totalamount" property="totalamount"/>
        <result column="paid" property="paid"/>
        <result column="notpaid" property="notpaid"/>
        <result column="feestate" property="feestate"/>
        <result column="inputtime" property="inputtime"/>
        <result column="schoolname" property="schoolname"/>
        <result column="qq" property="qq"/>
        <result column="phonenumber" property="phonenumber"/>
        <result column="paytype" property="paytype"/>
        <result column="state" property="state"/>
        <association property="student" javaType="Student" columnPrefix="student_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="salesman" javaType="Employee" columnPrefix="salesman_">
            <id column="id" property="id"/>
            <result column="realname" property="realname"/>
        </association>
        <association property="grade" javaType="Grade" columnPrefix="grade_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com._520it.crm.domain.FormalStudent" useGeneratedKeys="true" keyProperty="id">
        insert into formalstudent (student_id, salesman_id, totalamount, paid, notpaid, feestate, 
          inputtime, schoolname, qq, phonenumber, grade_id, paytype, state
          )
        values (#{student.id}, #{salesman.id}, #{totalamount}, #{paid}, #{notpaid}, #{feestate}, 
          #{inputtime}, #{schoolname}, #{qq}, #{phonenumber}, #{grade.id}, #{paytype}, #{state}
          )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.FormalStudent">
        update formalstudent
        set student_id = #{student.id},
          salesman_id = #{salesman.id},
          totalamount = #{totalamount},
          paid = #{paid},
          notpaid = #{notpaid},
          feestate = #{feestate},
          inputtime = #{inputtime},
          schoolname = #{schoolname},
          qq = #{qq},
          phonenumber = #{phonenumber},
          grade_id = #{grade.id},
          paytype = #{paytype},
          state = #{state}
        where id = #{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, student_id, salesman_id, totalamount, paid, notpaid, feestate, inputtime, 
        schoolname, qq, phonenumber, grade_id, paytype, state
        from formalstudent
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, student_id, salesman_id, totalamount, paid, notpaid, feestate, inputtime, 
        schoolname, qq, phonenumber, grade_id, paytype, state
        from formalstudent
    </select>

    <sql id="base_column">

    </sql>

    <sql id="base_table">

    </sql>

    <sql id="base_where">

    </sql>

    <select id="queryCount" resultType="long">
        select count(d.id) from
        <include refid="base_table"/>
        <include refid="base_where"/>
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        FROM
        <include refid="base_table"/>
        where
        <include refid="base_where"/>
        limit #{start},#{rows}
    </select>

</mapper>